.form-container {
  padding: 5%;
  background: #ffffff;
  border: 9px solid #f2f2f2;
  max-width: 520px;
  margin: auto;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

h1 {
  text-align: center;
  font-size: 4.0rem; 
  line-height: 1.2;  
  letter-spacing: -.1rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

.button,
button,
input[type="submit"],
input[type="button"] {
  width: 100%;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1edb4f;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 10px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
